@model Models.Trainer
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetTrainer</title>
</head>
<body>
    <a href="/Home/Index">Vissza a főoldalra</a>
    <br />
    <a href="/Home/ListTrainer">Vissza az edzőkhöz</a>
    <br />
    <h1>@Model.TrainerName</h1>

    <a href="/Home/CreateClient?trainerId=@Model.TrainerID">Adjon hozzá az edzőhöz egy új Klienst</a>
    <br />
    @foreach (var item in Model.GymClients)
    {
        <h2>@item.ToString()</h2>
        <br />
        @if (item.WorkoutDetail != null)
        {
            <h3>@item.WorkoutDetail.WorkoutType</h3>
            <h3>@item.WorkoutDetail.ContestDiets</h3>
            <br />
            <a href="/Home/UpdateDetail?detailId=@item.WorkoutDetail.WorkoutId">Update WorkoutDetails</a>
            <br />
            <a href="/Home/DeleteDetail?detailId=@item.WorkoutDetail.WorkoutId">Tőrlés WorkoutDetails</a>
        }
        else
        {
            <h3> nincsen workoutdetail</h3>
            <a href="/Home/CreateDetail?clientId=@item.GymID">Adjon hozza egy WorkoutDetails-t</a>
        }

        @foreach (var extra in item.AdditionalInfo)
        {
            <br />
            <h3>@extra.Information</h3>
        }

        <br />
        <a href="/Home/UpdateClient?clientId=@item.GymID">UpdateClient</a>
        <a href="/Home/DeleteClient?clientId=@item.GymID">TőrlésClient</a>
    }

</body>
</html>
